# ---------- Basic configuration ----------

set autoindent
set nowrap
set matchbrackets "(<[{)>]}"
set mouse
set tabsize 4

# ---------- Common syntax coloration ----------

include "/usr/share/nano/nanorc.nanorc"  # Nanorc files
include "/usr/share/nano/c.nanorc"       # C/C++
include "/usr/share/nano/html.nanorc"    # HTML
include "/usr/share/nano/tex.nanorc"     # TeX
include "/usr/share/nano/patch.nanorc"   # Patch files
include "/usr/share/nano/man.nanorc"     # Manpages
include "/usr/share/nano/perl.nanorc"    # Perl
include "/usr/share/nano/python.nanorc"  # Python
include "/usr/share/nano/ruby.nanorc"    # Ruby
include "/usr/share/nano/java.nanorc"    # Java
include "/usr/share/nano/asm.nanorc"     # Assembler
include "/usr/share/nano/sh.nanorc"      # Shell scripts

# ---------- Git syntax coloration ----------

syntax "gitcommit" "COMMIT_EDITMSG$"

color white "#.*"
color green "#.(modified|deleted).*"
color yellow start="# Changes.*" end="# Changed.*"
color cyan start="# Untracked.*" end="diff"
color cyan start="# Untracked.*" end="$$"
color brightred "^deleted file mode .*"
color brightgreen "^\+.*"
color brightred "^-.*"
color brightyellow "^(diff|index|---|\+\+\+).*"
color brightmagenta "@@.*@@"
color white "# (Change[ds]|Untracked) .*"
color white "#.*\(use .*"
color white "^#"
